
@{
    ViewData["Title"] = "Correct";
}

<ul class="navbar-nav flex-grow-1">
    
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Contracts" asp-action="Index">Contract</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Labours" asp-action="Index">Labours</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Attendances" asp-action="Index">Attendence</a>
    </li>


</ul>
